@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:opsz,wght@9..144,400;9..144,900&family=Inter:wght@500&family=Mulish&family=Open+Sans&family=Poppins:wght@500&family=Roboto&family=Stoke&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:opsz,wght@9..144,400;9..144,900&family=Gentium+Book+Basic:ital@1&family=Inter:wght@500&family=Mulish&family=Open+Sans&family=Poppins:wght@500&family=Roboto&family=Stoke&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1240px;
  margin: 0 auto;
}
.container .container__nav {
  width: 100%;
  height: 120px;
  background: #008F76;
  display: flex;
  justify-content: space-between;
}
.container .container__nav .container__nav_brend {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  margin-left: 100px;
  margin-top: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.container .container__nav .container__nav_brend .container__nav_brend-logo {
  width: 60px;
  height: px;
  margin-left: 10px;
  margin-top: 15px;
}
.container .container__nav .nav_list {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 50px;
}
.container .container__nav .nav_list .nav_list_item {
  list-style: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  color: #FFFFFF;
}
.container .container__nav .nav_list .nav_list_item .nav_list_item-link {
  color: #FFFFFF;
  text-decoration: none;
}
.container .container__nav .nav_list button {
  padding: 10px 20px;
  background: #008F76;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #FFFFFF;
  border: 2px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container .container__nav .nav_list button:hover {
  background-color: #FFFFFF;
  color: #008F76;
}

.main_container {
  width: 1240px;
  margin: 0 auto;
}
.main_container .container__text {
  text-align: center;
  margin-top: 98px;
  font-family: "Gentium Basic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.main_container .container__text strong {
  font-family: "Gentium Basic";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #008F76;
}
.main_container .container__text-next {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 200%;
  text-align: center;
  color: #212121;
}
.main_container .container__text-next strong {
  color: #008F76;
}
.main_container .main__contaner_btn-block {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container .main__contaner_btn-block .main_container_btn-block_button {
  width: 209px;
  height: 57px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  color: #FFFFFF;
  background-color: #008F76;
  border: 1px solid #008F76;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.main_container .main__contaner_btn-block .main_container_btn-block_button__next {
  width: 230px;
  height: 57px;
  margin-left: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  color: #008F76;
  background-color: #FFFFFF;
  border: 1px solid #008F76;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.main_container .main_container_line {
  position: absolute;
  top: 480px;
  left: 576px;
}
.main_container .main_container_img {
  width: 100px;
  height: 139px;
  margin-top: 80px;
  background: white;
}
.main_container .main_container_img p {
  width: 74px;
  height: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 5px;
  line-height: 200%;
  text-align: center;
  color: #212121;
}
.main_container .main_container_img .main_container_text {
  width: 48px;
  height: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 5px;
  line-height: 200%;
  text-align: center;
  color: #008F76;
}
.main_container .main_container_img .container_img {
  width: 60px;
  height: 86px;
}
.main_container .main__container__img-next {
  width: 130px;
  height: 220px;
  margin-top: 122px;
  background: #FFFFFF;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.main_container .main__container__img-next p {
  width: 91px;
  height: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 200%;
  text-align: center;
  color: #212121;
}
.main_container .main__container__img-next p {
  width: 47px;
  height: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 5px;
  line-height: 200%;
  text-align: center;
  color: #008F76;
}
.main_container .main__container__img-next .next_img {
  width: 105px;
  height: 163px;
}
.main_container .main__container__img-big {
  width: 150px;
  height: 186px;
  position: absolute;
  left: 342px;
  top: 640px;
  background: #FFFFFF;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  display: flex;
  justify-content: center;
}
.main_container .main__container__img-max {
  position: absolute;
  width: 230px;
  height: 360px;
  left: 604px;
  top: 550px;
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.main_container .main__container__img-max .max_img {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 10px;
}
.main_container .main__container__img-max .main__container__img-element {
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 100px;
  top: 150px;
}
.main_container .main__container__img-max .main__container__img-element .img-element {
  position: absolute;
  right: 120px;
}
.main_container .main__container__img-max .main__container__img-element .img-element-next {
  position: absolute;
  left: 115px;
}
.main_container .main__container__img-min {
  position: absolute;
  width: 130px;
  height: 200px;
  left: 966px;
  top: 561px;
  background: #FFFFFF;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.main_container .main__container__img-box-one {
  position: absolute;
  width: 100px;
  height: 128px;
  left: 1223px;
  top: 461px;
  background: #FFFFFF;
}
.main_container .main__container__img_box {
  position: absolute;
  width: 130px;
  height: 200px;
  left: 1208px;
  top: 731px;
  background: #FFFFFF;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.main_container .main_section {
  width: 1240px;
  position: relative;
  top: 200px;
}
.main_container .main_section h2 {
  width: 434px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  margin-left: 400px;
  color: #212121;
}
.main_container .main_section h2 strong {
  color: #008F76;
}
.main_container .main_section .main_section__box {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.main_container .main_section .main_section__box .main_section__box-one {
  width: 596px;
  height: 290px;
  background: #FFFFFF;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 5px;
}
.main_container .main_section .main_section__box .main_section__box-one .main_section__box-one__p {
  width: 536px;
  height: 64px;
  margin-left: 30px;
  margin-top: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
}
.main_container .main_section .main_section__box .main_section__box-one .box-one-img {
  position: absolute;
  left: 114px;
  bottom: 110px;
}
.main_container .main_section .main_section__box .main_section__box-one .paragref {
  position: relative;
  left: 210px;
  top: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  /* identical to box height, or 32px */
  color: #212121;
}
.main_container .main_section .main_section__box .main_section__box-one .paragref strong {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #949494;
}
.main_container .main_section .main_section__box-two {
  width: 596px;
  height: 290px;
  background: #FFFFFF;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 5px;
  margin-left: 40px;
}
.main_container .main_section .main_section__box-two .main_section__box-two_p {
  width: 536px;
  height: 64px;
  margin-left: 30px;
  margin-top: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
}
.main_container .main_section .main_section__box-two .box-one-img {
  position: relative;
  left: 24px;
  top: 15px;
}
.main_container .main_section .main_section__box-two .paragref {
  position: relative;
  left: 140px;
  bottom: 70px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
}
.main_container .main_section .main_section__box-two .paragref strong {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #949494;
}
.main_container .next__main_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 500px;
}
.main_container .next__main_section h1 {
  position: relative;
  right: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 200%;
  text-align: center;
  color: #212121;
}
.main_container .next__main_section p {
  position: relative;
  top: 50px;
  right: 200px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  color: #949494;
}
.main_container .next__main_section .text {
  position: relative;
  right: 150px;
}
.main_container .next__main_section .text-next {
  position: relative;
  right: 130px;
}
.main_container .main__cards {
  width: 1240px;
  display: inline-block;
}
.main_container .main__cards h5 {
  width: 221px;
  height: 48px;
  margin-top: 208px;
  bottom: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  color: #212121;
}
.main_container .main__cards p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  color: #949494;
}
.main_container .main__cards .main__cards__card {
  width: 596px;
  height: 280px;
  margin: 26px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}
.main_container .main__cards .main__cards__card .main__cards__card-text {
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
}
.main_container .main__cards .main__cards__card .main__cards__card_img {
  margin-left: 30px;
  margin-top: 45px;
}
.main_container .main__cards .main__cards__card .main__cards__card_img h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
  position: relative;
  left: 110px;
  bottom: 78px;
}
.main_container .main__cards .main__cards__card .main__cards__card_img .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #949494;
  position: relative;
  left: 110px;
  bottom: 78px;
}
.main_container .main__cards .main_card_element {
  position: relative;
  right: 20px;
  bottom: 150px;
}
.main_container .main__cards__card2 {
  width: 596px;
  height: 280px;
  position: relative;
  left: 650px;
  bottom: 350px;
  background: #FFFFFF;
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}
.main_container .main__cards__card2 .main__cards__card-text {
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
}
.main_container .main__cards__card2 .main__cards__card_img {
  margin-left: 30px;
  margin-top: 45px;
}
.main_container .main__cards__card2 .main__cards__card_img h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
  position: relative;
  left: 110px;
  bottom: 78px;
}
.main_container .main__cards__card2 .main__cards__card_img .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #949494;
  position: relative;
  left: 110px;
  bottom: 78px;
}
.main_container .main__cards__card2 .main_card_element2 {
  position: relative;
  left: 570px;
  bottom: 180px;
}
.main_container .main__cards__card2 .main__card__point {
  position: relative;
  right: 65px;
}
.main_container .main__cards__card2 .main__card__point .point1 {
  margin-right: 15px;
}
.main_container .main__cards__card2 .main__card__point .point3 {
  margin-left: 15px;
}
.main_container .main__card__next {
  width: 1240px;
}
.main_container .main__card__next .main__card__next-paragrf h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  color: #212121;
}
.main_container .main__card__next .main__card__next-paragrf p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #949494;
}
.main_container .main__card__next .main__card__next-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main_container .main__section_finsh {
  text-align: center;
  margin-top: 193px;
}
.main_container .main__section_finsh h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 200%;
  color: #212121;
}
.main_container .main__section_finsh h5 strong {
  color: #008F76;
}
.main_container .main__section_finsh p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #949494;
}
.main_container .main__section_finsh .btn {
  width: 344px;
  height: 68px;
  background: #008F76;
  border: 1px solid #008F76;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015);
  border-radius: 20px;
  color: #FFFFFF;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  text-align: center;
  margin-top: 46px;
}
.main_container .main__section_finsh .text {
  margin-top: 24px;
}
.main_container .main__section_finsh .button {
  width: 262px;
  height: 68px;
  border: 1px solid #008F76;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  text-align: center;
  color: #008F76;
  border-radius: 20px;
  margin-top: 24px;
}

.footer__container {
  width: 1240px;
  height: 380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.footer__container .footer__container_logo {
  margin-left: 80px;
  margin-top: 100px;
}
.footer__container .footer__container_logo h5 {
  width: 215px;
  height: 36px;
  position: relative;
  left: 80px;
  bottom: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #212121;
}
.footer__container .footer__container_web {
  position: relative;
  top: 200px;
  right: 150px;
}
.footer__container .footer__container_web .instagram {
  position: relative;
  right: 170px;
}
.footer__container .footer__container_web .facebook {
  position: relative;
  right: 122px;
}
.footer__container .footer__container_web .youtube {
  position: relative;
  right: 50px;
}
.footer__container .footer__container-item {
  margin-top: 100px;
}
.footer__container .footer__container-item h6 {
  width: 64px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
}
.footer__container .footer__container-item ul {
  list-style: none;
  width: 43px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 200%;
  color: #949494;
}
.footer__container .footer__container-item-tentang {
  width: 128px;
  height: 36px;
  margin-top: 100px;
}
.footer__container .footer__container-item-tentang h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
}
.footer__container .footer__container-item-tentang ul {
  list-style: none;
  width: 43px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 200%;
  color: #949494;
}
.footer__container .footer__container-item-galery {
  width: 144px;
  height: 80px;
  margin-top: 100px;
}
.footer__container .footer__container-item-galery h6 {
  width: 64px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #212121;
}
.footer__container .footer__container-item-galery ul {
  list-style: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
  color: #949494;
}

.footer__container-finsh {
  width: 1240px;
  height: 60px;
  background-color: #008F76;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 40px;
}
.footer__container-finsh .footer__container-finsh-img {
  width: 21px;
  height: 21px;
  margin-top: 20px;
}
.footer__container-finsh h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #FFFFFF;
  margin-top: 12px;
  margin-left: 18px;
}/*# sourceMappingURL=style.css.map */